# Gradle
.gradle/
build/
**/build/
out/
**/out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# OS
## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Sensitive / Local Config
**/local.config.yml
**/secrets.yml
.env
.env.*

# Logs
*.log
logs/